#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10  - Insert a markdown cell to list Objectives

Write an introductory sentence about the notebook such as the follows:

1. Objectives
2. Unordered List
3. Lis popular languages

#### Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
* SQL
* Python
* R

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include: 
* Numpy
* Pandas
* Care
* Matlplotlib

#### Exercise 6 - Create a markdown cell with a table of Data Science tools


| Tools |
| -------- | 
| Jupyter Notebook| 
| Python | 
| Pandas |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python:
* 7*7
* 7/7
* 7+7
* 7-7

#### Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# this is a simple arithmetic expression to later add integers
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes into hours diving in 60.
200/60

3.3333333333333335

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Autor Carlos Mu√±oz